header {
    background-color: #9E9E94;
    color: #0A0A0B;
    grid-area: header
}

/*template/structure of the webpages in mobile/minimised desktop view*/
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    background-color:#9E9E94;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
}

.buyCarsMain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    /*padding outside the text box*/
    padding-top: 5vh;
    padding-bottom: 10vh;
    row-gap: 2em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.leaseCarsAside {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    align-items: center;
}

.leaseCarsAside div {
    width: 17em;
    height: 30em;
}

.shoppingCartgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: #9E9E94;
}

.shoppingCartMain {
    display: grid;
    /*padding in between bottom and top*/
    row-gap: 2em;
    align-items: center;
}

.shoppingCartMain div {
    width: 20em;
}

aside {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.loginAside {
    display:flex;
    padding: 2em;
}

/* nav ul {
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
} */

/*nav ul li {
     position: relative;
    list-style: none;
}*/

/*sub-page name hover*/
nav li:hover {
    background-color: #9E9E94;
    color: #fff;
}

/* nav ul {
    display: flex;
    justify-content: space-evenly;
} */

/*styles the list*/
nav ul li {
    list-style: none;
    padding: 0.8em;
    font-size: 0.8em;
    border-bottom: 1px solid #0A0A0B;
}

nav li, nav a {
    width: 70%;
    display: block;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*displays the top and bottom bar of nav icon*/
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid #0A0A0B;
    border-bottom: 0.2em solid #0A0A0B;
    border-radius: 0.1em;
}

/*displays middle bar of nav icon*/
.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #0A0A0B;
}

/*displays nav in hamburger nav*/
nav {
    display: none;
    background-color: #9E9E94;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    border-left: 1px solid #0A0A0B;
    transform: translate(100%, 0);
    transition: transform 0.25s ease-in;
}

/*makes nav appear when icon clicked*/
#clicked:target nav {
    display: block;
    transform: translate(0,0);
}

#clicked .on {
    display: block;
}

/*hides the click on icon*/
#clicked .off {
    display: none;
}
/*hides the click off icon*/
#clicked:target .on {
    display: none;
}

/*displays the icon to click off*/
#clicked:target .off {
    display: block;
}

