header {
    background-color: #fff;
    color: #0A0A0B;
    grid-area: header
}

/*template/structure of the webpages in desktop maximised view*/
body {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav"
    "aside main"
    "footer footer";
    background-color: #0A0A0B;
}

main {
    background-color: #fff;
    color: #0A0A0B;
    padding-left: 40%;
    grid-area: main;
}

aside {
    /*places content in aside in the center*/
    display: flex;
    justify-content: center;
    padding-left: 4em;
    grid-area: aside;
}

/*brings nav bar down*/
/*nav ul {
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}*/

nav ul li {
     position: relative;
    list-style: none;
}

/*nav li, nav a {
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*styles main webpage names list into nav bar*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/*styles subnames within webpage names*/
nav ul ul {
    position: absolute;
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

/*makes subnames appear once hovered*/
nav > ul > li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

/*highlights each sub name when hovered*/
nav ul ul li:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

.buyCarsGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav"
    "main main"
    "footer footer";
    background-color: #9E9E94;
}

.buyCarsMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*padding outside the text box*/
    padding-top: 5vh;
    padding-bottom: 10vh;
    row-gap: 2em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.buyCarsMain div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    width: 65em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*room in box around text*/
    padding: 1em;
}

.buyCarsMain div p {
    color: #0A0A0B
}

.buyCarsMain {
    min-height: 85vh
}

.leaseCarsAside {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2em;
    padding-left: 50%;
    padding-right: 10%;
    align-items: center;
}

.leaseCarsAside div {
    height: 23em;
}

.shoppingCartMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    /*padding outside the text box*/
    padding-top: 16vh;
    padding-bottom: 10vh;
    row-gap: 2em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.shoppingCartMain div {
    width: 65em;
}

.loginGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header nav"
    "aside main";
    background-color: #0A0A0B;
}