header {
    background-color: #fff;
    color: #0A0A0B;
    grid-area: header
}

/*template/structure of the webpages in desktop maximised view*/
body {
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header nav nav"
        "aside main main main"
        "footer footer footer footer";
    background-color: #0A0A0B;
}

main {
    background-color: #fff;
    color: #0A0A0B;
    /*padding-left: 5%;*/
    grid-area: main;
    padding-bottom: 50em;
}

.banner-img {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapers.com/images/high/ultra-wide-4k-car-xkxr4j3eotg26a22.webp");

    /* Set a specific height */
    height: 15%;

    /* Position and center the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #fff;
}

aside {
    /*places content in aside in the center*/
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-left: 20px;
    grid-area: aside;
}

aside ul li {
    position: relative;
    list-style: none;
}

/*nav li, nav a {
   height: 100%;
   width: 100%;
   display: block;
   transition: 0.7s;
   display: flex;
   justify-content: center;
   align-items: center;
}*/

/*styles main webpage names list into nav bar*/
aside ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/*styles subnames within webpage names*/
aside ul ul {
    position: absolute;
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

/*makes subnames appear once hovered*/
aside>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

/*highlights each sub name when hovered*/
aside ul ul li:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

/*brings nav bar down*/
*nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav li,
nav a {
    height: 100%;
    width: 100%;
    display: block;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*styles main webpage names list into nav bar*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/*styles subnames within webpage names*/
nav ul ul {
    position: absolute;
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

/*makes subnames appear once hovered*/
nav>ul>li:hover ul {
    opacity: 1;
    pointer-events: auto;
}

/*highlights each sub name when hovered*/
nav ul ul li:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

.buyCarsGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    background-color: #9E9E94;
}

.buyCarsMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*padding outside the text box*/
    padding-top: 5vh;
    padding-bottom: 10vh;
    row-gap: 2em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.buyCarsMain div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    width: 65em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*room in box around text*/
    padding: 1em;
}

.buyCarsMain div p {
    color: #0A0A0B
}

.buyCarsMain {
    min-height: 85vh
}

.leaseCarsAside {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2em;
    padding-left: 50%;
    padding-right: 10%;
    align-items: center;
}

.leaseCarsAside div {
    height: 23em;
}

.shoppingCartMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    /*padding outside the text box*/
    padding-top: 16vh;
    padding-bottom: 10vh;
    row-gap: 2em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.shoppingCartMain div {
    width: 65em;
}

.loginGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "aside main";
    background-color: #0A0A0B;
}

.CarProducts,
.reviews {
    list-style-type: none;
}


.car-image {
    margin-right: 20px;
    /* Space between image and info */
}

.car-info {
    flex: 1;
    /* Takes the remaining space */
}

.car-button {
    margin-top: 10px;
    /* Space above the button */
}

.CarProducts li,
.reviews li {
    padding: 2em;
}

.CarProducts li:nth-child(odd),
.reviews li:nth-child(odd) {
    background-color: #ffffff;
    width: 900px;
    object-fit: cover;
}

.CarProducts li:nth-child(even),
.products li:nth-child(even) {
    background-color: #ddd;
    width: 900px;
    object-fit: cover;
}