header {
    background-color: #9E9E94;
    color: #0A0A0B;
    grid-area: header;
    padding: 20px;
}

body {
    font-family: 'Eczar', serif;
}

nav {
    background-color: #fff;
    grid-area: nav;
}

/*takes away hyperlink look*/
nav a {
    text-decoration: none;
    color: #0A0A0B;
}

/*main webpage name hover*/
nav a:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

main img {
    background-color: #fff;
    width: 35vw;
    object-fit: cover;
    /*shadow colour of image*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*frame thinkness and colour*/
    border: 1px solid #0A0A0B;
    /*roundness of image*/
}

main a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 1em;
}

main a:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

.indexGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    background-color: #fff;
}

.shoppingCartGrid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    background-color: #fff;
}

.shoppingCartMain img {
    background-color: #fff;
    width: 50vw;
    /*shadow colour of image*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*frame thinkness and colour*/
    border: 1px solid #0A0A0B;
    /*roundness of image*/
    border-radius: 0%;
}

.shoppingCartMain div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*room in box around text*/
    padding: 1em;
}

.shoppingCartMain div p {
    color: #0A0A0B
}

.shoppingCartMain {
    min-height: 85vh
}

aside {
    background-color: #fff;
    grid-area: aside;
}

aside img {
    width: 20vw;
    /*shadow colour of image*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*frame thinkness and colour*/
    border: 1px solid #0A0A0B;
    /*roundness of image*/
    border-radius: 30%;
}

/*--------------------------------*/
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 35%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #9E9E94;
    color: #fff;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #9E9E94;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/*-------------------------------------*/
footer {
    background-color: #fff;
    color: #0A0A0B;
    grid-area: footer;

    /*puts content in footer in the center*/
    display: flex;
    justify-content: center;

    /*puts icons and copyright on different lines*/
    flex-direction: column;
    /*put them both in the center of the page*/
    align-items: center;
}

footer a:hover {
    background-color: #fff;
    color: #9E9E94;
    transition: 1s;
}

/* .portfolioMain img {
    width: 15vw;
    height: 15vw;
}

.portfolioMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 10vh;
    row-gap: 2em;
    padding-left: 20%;
    padding-right: 0%;
}

.portfolioMain div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: 15em;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.portfolioMain div p {
    color: #0A0A0B
}

.portfolioMain {
    min-height: 85vh
}

.portfolioAside img {
    width: 15vw;
    height: 15vw;
}

.portfolioAside {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding-top: 10vh;
    row-gap: 2em;
    align-items: center;;
}

.portfolioAside div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: 15em;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.portfolioAside div p {
    color: #0A0A0B
}

.portfolioAside {
    min-height: 85vh
} */

.leaseCarsMain {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 2em;
    align-items: center;
    padding-top: 6%;
    min-height: auto;
}

.leaseCarsMain div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    height: 7em;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.leaseCarsMain div p {
    color: #0A0A0B;
}

.leaseCarsAside div {
    border: 2px solid #0A0A0B;
    background-color: #fff;
    border-radius: 40px;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    margin-top: 1em;
}

.leaseCarsAside div p {
    color: #0A0A0B
}

.leaseCarsAside {
    min-height: auto
}

footer a {
    text-decoration: none;
    color: #0A0A0B;
    font-size: 1.5em;
}

form {
    display: grid;
    /*width of text box*/
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    /*gap at the bottom of each row of the grid*/
    grid-gap: 1em;
}

/*displays submit button in line using grid of form*/
input[type="submit"] {
    grid-column: 2;
}

/*Makes room for radio options on one line*/
form div {
    grid-column-start: 1;
    grid-column-end: 3;
}


.CarProducts,
.reviews {
    list-style-type: none;
}

.CarProducts li,
.reviews li {
    padding: 2em;
}

.CarProducts li:nth-child(odd),
.reviews li:nth-child(odd) {
    background-color: #ffffff;
}

.CarProducts li:nth-child(even),
.products li:nth-child(even) {
    background-color: #ddd;
}